
/* Общие параметры для всех экранов использующих данный стиль */
.root {
    -fx-background-color: #CCCCFF;
    -fx-font-family: Arial;
}

/* Стиль экрана Login */
Label {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

#usernameLabel {
   -fx-font-size: 12px;
   -fx-font-weight: bold;
}

#passwordLabel {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

TextField {
    -fx-pref-width: 200px;
}

PasswordField {
    -fx-pref-width: 200px; /* Ширина PasswordField */
}

Button {
    -fx-pref-width: 200px; /* Ширина Button */
    -fx-background-color: #B266FF; /* Цвет фона кнопки */
    -fx-text-fill: white; /* Цвет текста на кнопке */
}

Text {
    -fx-fill: CC0000;
}

/* Стиль для таблицы */
.table-view .column-header {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-background-color: #B266FF;
    -fx-text-fill: white;
    -fx-border-color: #5416D1;
    -fx-border-width: 1px;
}

.table-row-cell:odd {
    -fx-background-color: #CCCCFF;
}

.table-row-cell:even {
    -fx-background-color: #FFFFFF;
}

.table-row-cell:selected {
    -fx-background-color: #B266FF;
    -fx-text-fill: white;
}

.table-cell:selected {
    -fx-background-color: #B266FF;
    -fx-text-fill: white;
}
