/* Стиль-2 для таблицы */
.root {

    -fx-font-family: "Times New Roman";
}

.button {
    -fx-pref-width: 150px;
    -fx-background-color: #197673;
    -fx-text-fill: white;
}


.table-view .column-header {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-background-color: #197673;
    -fx-text-fill: white;
    -fx-border-color: #0C3D3C;
    -fx-border-width: 2px;
}

.table-row-cell:odd {
    -fx-background-color: #BCE8E6;
}

.table-row-cell:even {
    -fx-background-color: #AFC6C5;
}

.table-row-cell:selected {
    -fx-background-color: #197673;
    -fx-text-fill: white;
}

.table-cell:selected {
    -fx-background-color: #197673;
    -fx-text-fill: white;
}